<h1>Dashboard</h1>

<div class="row-fluid fluid">
    <div class="span4">
        <div class=" box color_26 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/artistas"><img align="center" src="img/general/contacts_icon.png" alt="" /></a>
                <div class="description">ARTISTAS</div>
            </div>
            <a class="change_color_outside"><i class="paint_bucket"></i></a>
        </div>
    </div>

    <div class="span4">
        <div class=" box color_26 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="/admin/videos"><img align="center" src="img/general/contacts_icon.png" alt="" /></a>
                <div class="description">VÍDEOS</div>
            </div>
            <a class="change_color_outside"><i class="paint_bucket"></i></a>
        </div>
    </div>

    <div class="span4">
        <div class=" box color_26 height_medium paint_hover">
            <div class="content icon big_icon"> 
                <a href="#"><img align="center" src="img/general/contacts_icon.png" alt="" /></a>
                <div class="description">TEXTOS</div>
            </div>
            <a class="change_color_outside"><i class="paint_bucket"></i></a>
        </div>
    </div>
</div>