<div class="row-fluid">
    <div class="span3">
        <div class="title">
            <div class="row-fluid legend">
                <h1><%= viewModel.nome %></h1>
            </div>
        </div>
        <!-- End .title -->
        <div class="content">
            <div class="row-fluid well well-small"> <img class="row-fluid" src="/img/<%= viewModel.arquivoImagemPerfil %>" alt="Imagem Perfil" /> </div>
            <ul class="nav nav-tabs dark nav-stacked">
                <li><a href="#"><i class="gicon-user"></i>Dados Pessoais</a></li>
                <li><a href="#"><i class="gicon-wrench"></i>Senha</a></li>
                <li><a href="#"><i class="gicon-globe"></i>Imagem de Perfil</a></li>
            </ul>
        </div>
        <!-- End .content --> 
    </div>
    <!-- End .span3 -->
        
    <div class="span9">
        
    </div>
    <!-- End .span9 --> 
</div>
<!-- End .row-fluid --> 