<div class="row-fluid">
    <div class="span3">
        <div class="title">
            <div class="row-fluid legend">
                <h1><%= viewModel.nome %>&nbsp;<%= viewModel.sobrenome %></h1>
            </div>
        </div>
        <!-- End .title -->
        <div class="content">
            <div class="row-fluid well well-small"> <img class="row-fluid" src="/img/<%= viewModel.arquivoImagemPerfil %>" alt="Imagem de Perfil" /> </div>
            <ul class="nav nav-tabs dark nav-stacked">
                <li><a href="/admin/usuario/alterar/<%= viewModel.id %>"><i class="gicon-user"></i>Dados Pessoais</a></li>
                <li><a href="#"><i class="gicon-wrench"></i>Senha</a></li>
                <li><a href="#"><i class="gicon-globe"></i>Imagem de Perfil</a></li>
            </ul>
        </div>
        <!-- End .content --> 
    </div>
    <!-- End .span3 -->
        
    <div class="span9">
        <div class="row-fluid legend profile">
            <div class="row-fluid ">
                <div class="span6 spacer">
                    <ul class="unstyled">
                        <li class="location pull-left right_offset"><span class="muted"><i class="icon-map-marker"></i> Location:</span> London, UK</li>
                        <li class="location "><span class="muted"><i class="icon-globe"></i></span> Brighton Business School </li>
                    </ul>
                </div>
                <div class="span6">
                    <div class=" pull-right">
                        <button class="btn btn-info" rel="tooltip" data-placement="top" data-original-title="Send a private message">Send Message</button>
                        <button class="btn btn-primary" rel="tooltip" data-placement="top" data-original-title="Connect with this user">Connect</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .legend -->
          
        <div class="content spacer-big">
            <h3><span>About Me</span></h3>

            <hr>

            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, dolor at molestie bibendum, diam est imperdiet libero, vel malesuada augue metus ultricies velit. In semper, neque vel luctus ullamcorper, lectus ligula faucibus risus, eget ultrices nisl magna eu ligula. Proin ipsum metus, varius sit amet dapibus id, dapibus vel felis. Duis eu odio mauris. Maecenas pulvinar dignissim arcu, quis elementum erat volutpat ac. Ut et neque a justo scelerisque pellentesque. Maecenas ut quam vitae mi condimentum iaculis at sed erat.</p>
            <p> In sit amet urna turpis, sit amet pretium nisi. Maecenas quam sem, aliquam nec vehicula sed, fringilla nec leo. Phasellus nec orci orci, vestibulum rutrum urna. Maecenas aliquam ipsum ut purus posuere suscipit. Vivamus posuere gravida metus. Aliquam erat volutpat. Suspendisse euismod pellentesque leo et imperdiet.</p>
            <p> In sit amet urna turpis, sit amet pretium nisi. Maecenas quam sem, aliquam nec vehicula sed, fringilla nec leo. Phasellus nec orci orci, vestibulum rutrum urna. Maecenas aliquam ipsum ut purus posuere suscipit. Vivamus posuere gravida metus. Aliquam erat volutpat. Suspendisse euismod pellentesque leo et imperdiet.</p>

            <hr>

            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous <cite title="Source Title">Source Title</cite></small> 
            </blockquote>

            <hr>

            <h3><span>Address</span></h3>

            <address>
                <strong>PixelGrade, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@gmail.com</a>
            </address>

            <hr>

            <h3><span>Other info</span></h3>

            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, dolor at molestie bibendum, diam est imperdiet libero, vel malesuada augue metus ultricies velit. In semper, neque vel luctus ullamcorper, lectus ligula faucibus risus, eget ultrices nisl magna eu ligula. Proin ipsum metus, varius sit amet dapibus id, dapibus vel felis. Duis eu odio mauris. Maecenas pulvinar dignissim arcu, quis elementum erat volutpat ac. Ut et neque a justo scelerisque pellentesque. Maecenas ut quam vitae mi condimentum iaculis at sed erat.</p>
            <p> In sit amet urna turpis, sit amet pretium nisi. Maecenas quam sem, aliquam nec vehicula sed, fringilla nec leo. Phasellus nec orci orci, vestibulum rutrum urna. Maecenas aliquam ipsum ut purus posuere suscipit. Vivamus posuere gravida metus. Aliquam erat volutpat. Suspendisse euismod pellentesque leo et imperdiet.</p>
            <p> In sit amet urna turpis, sit amet pretium nisi. Maecenas quam sem, aliquam nec vehicula sed, fringilla nec leo. Phasellus nec orci orci, vestibulum rutrum urna. Maecenas aliquam ipsum ut purus posuere suscipit. Vivamus posuere gravida metus. Aliquam erat volutpat. Suspendisse euismod pellentesque leo et imperdiet.</p>
        </div>
        <!-- End .content --> 
    </div>
    <!-- End .span9 --> 
</div>
<!-- End .row-fluid --> 